@import "tailwindcss";

@theme {
  --color-primary: #0a47c2;
  --color-background-light: #ffffff;
  --color-background-dark: #ffffff;
  --color-warning: #e65100;
  --color-success: #2e7d32;
  --font-display: "Lexend", sans-serif;
}

body {
  font-family: var(--font-display);
  background-color: #f9fafb;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.sticky-col {
    position: sticky;
    left: 0;
    z-index: 10;
}
.table-shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.modal-overlay {
    background-color: rgba(13, 18, 28, 0.7);
    backdrop-filter: blur(4px);
}
